# Quandl API Project

In [ ]:
import pandas as pd
import quandl

### Getting the daily percentage change in the closing price for the first 100 trading days of 2016 for Tableau Software

In [44]:
wiki_codes = pd.read_csv('WIKI-datasets-codes.csv', header=None,
                    names=('Code', 'Description'))
wiki_codes

         Code                                        Description
0   WIKI/AAPL  Apple Inc (AAPL) Prices, Dividends, Splits and...
1    WIKI/ABC  AmerisourceBergen Corp. (ABC) Prices, Dividend...
2     WIKI/AA  Alcoa Inc. (AA) Prices, Dividends, Splits and ...
3   WIKI/ABBV  AbbVie Inc. (ABBV) Prices, Dividends, Splits a...
4    WIKI/ACE  ACE Ltd (ACE) Prices, Dividends, Splits and Tr...
..        ...                                                ...
95   WIKI/CMG  Chipotle Mexican Grill (CMG) Prices, Dividends...
96   WIKI/CMS  CMS Energy Corp (CMS) Prices, Dividends, Split...
97   WIKI/CLF  Cliffs Natural Resources Inc. (CLF) Prices, Di...
98   WIKI/CLX  Clorox Co. (CLX) Prices, Dividends, Splits and...
99   WIKI/COF  Capital One Financial Corp (COF) Prices, Divid...

[100 rows x 2 columns]

In [161]:
prices = quandl.get('WIKI/DATA', start_date='2015-12-31') 
# Finding the Quandl code in `wiki_codes` for Tableau Softwareto to get only the data since 2016.

In [163]:
print(type(prices.index))
prices.head()

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2015-12-31,94.47,95.690,93.9100,94.22,478491.0,0.0,1.0,94.47,95.690,93.9100,94.22,478491.0
2016-01-04,92.71,93.903,91.5100,93.79,670113.0,0.0,1.0,92.71,93.903,91.5100,93.79,670113.0
2016-01-05,94.22,94.630,93.2901,94.30,518028.0,0.0,1.0,94.22,94.630,93.2901,94.30,518028.0
2016-01-06,92.86,94.720,92.0100,93.50,853171.0,0.0,1.0,92.86,94.720,92.0100,93.50,853171.0
2016-01-07,91.28,93.140,88.0000,88.57,1249746.0,0.0,1.0,91.28,93.140,88.0000,88.57,1249746.0

### The only column I need is the "Adj. Close" column. It is adjusted for corporate actions like dividends and splits.  First I get the daily fractional change and then adjust it to be a percentage.

In [164]:
close_change = prices['Adj. Close'].pct_change()*100
close_change

Date
2015-12-31         NaN
2016-01-04   -0.456379
2016-01-05    0.543768
2016-01-06   -0.848356
2016-01-07   -5.272727
                ...
2018-03-21    0.610121
2018-03-22   -1.545779
2018-03-23   -1.678744
2018-03-26    3.476231
2018-03-27   -3.252612
Name: Adj. Close, Length: 562, dtype: float64

In [165]:
# formatting the date

In [171]:
date = prices.index
date_str = date.strftime("%-m/%d/%y")
date_str

Index(['12/31/15', '1/04/16', '1/05/16', '1/06/16', '1/07/16', '1/08/16',
       '1/11/16', '1/12/16', '1/13/16', '1/14/16',
       ...
       '3/14/18', '3/15/18', '3/16/18', '3/19/18', '3/20/18', '3/21/18',
       '3/22/18', '3/23/18', '3/26/18', '3/27/18'],
      dtype='object', name='Date', length=562)

In [ ]:
wiki_data_tuples = list(zip(date_str, close_change))

In [ ]:
wiki_data_tuples_all = list(zip(date_str, close_change)) # first 100 days of 2016
wiki_data_tuples = wiki_data_tuples_all[1:101]

### I now use data provided by the US [Bureau of Labor Statistics](https://www.quandl.com/data/BLSE?keyword=), which tracks monthly employment numbers by industry for each state.

In [7]:
blse_codes = pd.read_csv('BLSE-datasets-codes.csv', header=None,
                    names=('Code', 'Description'))
blse_codes.head()

,Code,Description
0,BLSE/SMU24000005051700001,"All Employees, In Thousands; Telecommunication..."
1,BLSE/SMU51000000700000001,"All Employees, In Thousands; Service-Providing..."
2,BLSE/BDU0000000000000000110004RQ5,Employment; Gross Job Losses; All industries; ...
3,BLSE/BDU0000000000000000110005RQ5,Employment; Contractions; All industries; Rate...
4,BLSE/CEU0000000001,"Employment - All employees, thousands; Total n..."

In [ ]:
valid_codes = blse_codes[blse_codes['Description'].str.contains("All Employees")]; valid_rows
# Creating a new data frame that contains only "All Employees".

In [ ]:
california =  valid_codes[valid_codes['Description'].str.contains("california|California")] # Looking at California only
california_codes = california['Code']

In [10]:
# Downloading and storing tables corresponding with each Quandl code
code = valid_codes.loc[0, 'Code']
description = valid_codes.loc[0, 'Description']
code, description

('BLSE/SMU24000005051700001',
 'All Employees, In Thousands; Telecommunications - Maryland')

In [121]:
valid_codes = valid_codes.reset_index(drop=True)
valid_codes

,Code,Description
0,BLSE/SMU24000005051700001,"All Employees, In Thousands; Telecommunication..."
1,BLSE/SMU51000000700000001,"All Employees, In Thousands; Service-Providing..."
2,BLSE/SMS01000004100000001,"All Employees, In Thousands; Wholesale Trade -..."
3,BLSE/SMS02000004300000001,"All Employees, In Thousands; Transportation an..."
4,BLSE/SMS04000000500000001,"All Employees, In Thousands; Total Private - A..."
...,...,...
1113,BLSE/SMU56000003100000001,"All Employees, In Thousands; Durable Goods - W..."
1114,BLSE/SMU72000000000000001,"All Employees, In Thousands; Total Nonfarm - P..."
1115,BLSE/SMU72000009000000001,"All Employees, In Thousands; Government - Puer..."
1116,BLSE/SMU78000003000000001,"All Employees, In Thousands; Manufacturing - V..."
1117,BLSE/SMS21000003100000001,"All Employees, In Thousands; Durable Goods - K..."

In [ ]:
df = quandl.get(code, start_date="2006-01-01" ,end_date="2015-12-31")

In [17]:
df['State'] = pd.Series('Maryland', index=df.index)
df

            Value     State
Date
2006-01-31   20.2  Maryland
2006-02-28   20.3  Maryland
2006-03-31   20.4  Maryland
2006-04-30   20.5  Maryland
2006-05-31   20.6  Maryland
...           ...       ...
2015-08-31   14.3  Maryland
2015-09-30   14.2  Maryland
2015-10-31   14.9  Maryland
2015-11-30   14.3  Maryland
2015-12-31   14.2  Maryland

[120 rows x 2 columns]

Now that we have these values, let's add them as new columns.

In [154]:
df['State'] = pd.Series(state, index=df.index)
df['Category'] = pd.Series(category, index=df.index)
df['Adjusted'] = pd.Series(adjusted, index=df.index)
df.head()

            Value     State            Category  Adjusted
Date
2006-01-31   20.2  Maryland  Telecommunications     False
2006-02-28   20.3  Maryland  Telecommunications     False
2006-03-31   20.4  Maryland  Telecommunications     False
2006-04-30   20.5  Maryland  Telecommunications     False
2006-05-31   20.6  Maryland  Telecommunications     False

### Putting the process into a a single function to be able to use it for each `BLSE` data set.

In [109]:
import re
def get_data(code, description):
    
    category = re.findall(";\s(.+)\s-", description)
    state = re.findall("-\s(.+)", description)
    adjusted = True if code[7] == 'S' else False
    df = quandl.get(code, start_date="2006-01-01" ,end_date="2015-12-31") # Download data
    df['State'] = pd.Series(state[0], index=df.index)
    df['Category'] = pd.Series(category[0], index=df.index)
    df['Adjusted'] = pd.Series(adjusted, index=df.index)
    
    return df

get_data(code, description).head()

            Value     State       Category  Adjusted
Date
2006-01-31  168.7  Kentucky  Durable Goods      True
2006-02-28  168.0  Kentucky  Durable Goods      True
2006-03-31  168.4  Kentucky  Durable Goods      True
2006-04-30  168.3  Kentucky  Durable Goods      True
2006-05-31  168.0  Kentucky  Durable Goods      True

In [113]:
get_data( valid_codes.loc[2, 'Code'],  valid_codes.loc[2, 'Description'])

            Value    State         Category  Adjusted
Date
2006-01-31   80.4  Alabama  Wholesale Trade      True
2006-02-28   80.6  Alabama  Wholesale Trade      True
2006-03-31   81.0  Alabama  Wholesale Trade      True
2006-04-30   81.0  Alabama  Wholesale Trade      True
2006-05-31   81.2  Alabama  Wholesale Trade      True
...           ...      ...              ...       ...
2015-08-31   73.7  Alabama  Wholesale Trade      True
2015-09-30   73.6  Alabama  Wholesale Trade      True
2015-10-31   73.7  Alabama  Wholesale Trade      True
2015-11-30   73.6  Alabama  Wholesale Trade      True
2015-12-31   73.4  Alabama  Wholesale Trade      True

[120 rows x 4 columns]

### Getting all data

In [123]:
df_all = pd.concat(get_data(code, description) for code, description
                   in valid_codes.itertuples(index=False))

In [127]:
import pickle
pickle.dump(df_all, open('df_all.data', 'wb'))

In [4]:
import pickle
df_all = pickle.load(open('df_all.data', 'rb'))

In [5]:
df_all =df_all[df_all['Category']!='Total Private']

In [6]:
df_all = df_all[df_all['Category']!='Total Nonfarm']

In [7]:
df_raw = df_all[df_all['Adjusted']==False] # Unadjusted data
df_adj = df_all[df_all['Adjusted']==True] # Adjusted data

### Getting the 100 largest state-industry pairs for December 2015 using the unadjusted data

In [8]:
# Selecting out only the results from 12/2015
dec15 = df_raw.loc['2015-12']

In [6]:
# Sorting them by 'Value' and choose the top 100
top100 = dec15.sort_values('Value', ascending=False).reset_index()
top100 = top100.loc[0:99]
top100

         Date    Value       State           Category  Adjusted
0  2015-12-31  14362.2  California  Service-Providing     False
1  2015-12-31  10239.2       Texas  Service-Providing     False
2  2015-12-31   8665.8    New York  Service-Providing     False
3  2015-12-31   7551.2     Florida  Service-Providing     False
4  2015-12-31   5244.8    Illinois  Service-Providing     False
..        ...      ...         ...                ...       ...
95 2015-12-31    434.5   Minnesota    Goods Producing     False
96 2015-12-31    431.8    Virginia    Goods Producing     False
97 2015-12-31    429.2   Minnesota         Government     False
98 2015-12-31    427.0    Colorado         Government     False
99 2015-12-31    422.7   Wisconsin         Government     False

[100 rows x 5 columns]

In [ ]:
state_category = list(zip(top100['State'], top100['Category']))

In [8]:
employment = list(round(top100['Value']*1000))

In [ ]:
state_industry_tuples = list(zip(state_category, employment))
state_industry_tuples

In [ ]:
data = dec15.groupby(['State']).sum() ## what are the total number of employed people in each state in December 2015?
data.reset_index(inplace=True)

### Determining which industry experienced the largest percent growth from December 2006 to December 2015

In [10]:
dec06 = df_raw.loc['2006-12']
dec06

             Value           State            Category  Adjusted
Date
2006-12-31    21.5        Maryland  Telecommunications     False
2006-12-31  3239.3        Virginia   Service-Providing     False
2006-12-31    82.2         Alabama     Wholesale Trade     False
2006-12-31   427.4         Arizona     Goods Producing     False
2006-12-31   188.0         Alabama       Durable Goods     False
...            ...             ...                 ...       ...
2006-12-31    12.5  Virgin Islands          Government     False
2006-12-31   219.5         Wyoming   Service-Providing     False
2006-12-31     5.5         Wyoming       Durable Goods     False
2006-12-31   296.9     Puerto Rico          Government     False
2006-12-31     2.3  Virgin Islands       Manufacturing     False

[518 rows x 4 columns]

In [11]:
dec06.reset_index(inplace=True);dec06

          Date   Value           State            Category  Adjusted
0   2006-12-31    21.5        Maryland  Telecommunications     False
1   2006-12-31  3239.3        Virginia   Service-Providing     False
2   2006-12-31    82.2         Alabama     Wholesale Trade     False
3   2006-12-31   427.4         Arizona     Goods Producing     False
4   2006-12-31   188.0         Alabama       Durable Goods     False
..         ...     ...             ...                 ...       ...
513 2006-12-31    12.5  Virgin Islands          Government     False
514 2006-12-31   219.5         Wyoming   Service-Providing     False
515 2006-12-31     5.5         Wyoming       Durable Goods     False
516 2006-12-31   296.9     Puerto Rico          Government     False
517 2006-12-31     2.3  Virgin Islands       Manufacturing     False

[518 rows x 5 columns]

In [11]:
val06 = dec06.set_index(['State', 'Category'])
val15 = dec15.set_index(['State', 'Category'])
val06.drop(columns=['Adjusted'], inplace=True)
val06

                                    Value
State          Category
Maryland       Telecommunications    21.5
Virginia       Service-Providing   3239.3
Alabama        Wholesale Trade       82.2
Arizona        Goods Producing      427.4
Alabama        Durable Goods        188.0
...                                   ...
Virgin Islands Government            12.5
Wyoming        Service-Providing    219.5
               Durable Goods          5.5
Puerto Rico    Government           296.9
Virgin Islands Manufacturing          2.3

[518 rows x 1 columns]

In [ ]:
val06['growth'] = ((val15['Value']-val06['Value'])/val06['Value'])*100

In [ ]:
# I need to group the rows by state. We can only group by columns,
# so I first change the indices back to columns
val06.reset_index(inplace=True)
val06.drop(columns=['Date','Value'], inplace=True)

### I write a function that takes the dataframe and returns the row with the maximum value and use it inside groupby function.

In [ ]:
def largest_value(df):
    return df[df['growth'] == df['growth'].max()]

In [ ]:
fastest_by_state = val06.groupby('State').apply(largest_value)
fastest_by_state

### Next I find the maximum _total national_ employment number for each industry. That is, the number of people employed nationally in each industry during the month that that industry peaked in our data set.

In [28]:
df_raw.reset_index(inplace=True)

In [ ]:
df_raw['Value'] = df_raw['Value']*1000

In [13]:
## looking at one industry
air_transp = df_raw[df_raw['Category'] == 'Air Transportation'];air_transp

              Value       State            Category  Adjusted
Date
2006-01-31  14800.0     Arizona  Air Transportation     False
2006-02-28  14800.0     Arizona  Air Transportation     False
2006-03-31  14900.0     Arizona  Air Transportation     False
2006-04-30  15700.0     Arizona  Air Transportation     False
2006-05-31  15700.0     Arizona  Air Transportation     False
...             ...         ...                 ...       ...
2015-08-31  12600.0  Washington  Air Transportation     False
2015-09-30  12600.0  Washington  Air Transportation     False
2015-10-31  12900.0  Washington  Air Transportation     False
2015-11-30  12800.0  Washington  Air Transportation     False
2015-12-31  12800.0  Washington  Air Transportation     False

[2400 rows x 4 columns]

In [27]:
final = air_transp.groupby('Date').sum().sort_values('Value', ascending=False);final[0:1]

               Value  Adjusted
Date
2008-03-31  402800.0         0

In [30]:
def max_emp(x):
    final = x.groupby('Date').sum().sort_values('Value', ascending=False)
    return final[0:1]

In [37]:
finaldata = df_raw.groupby('Category'). apply(max_emp); finaldata.reset_index(inplace=True)

### Now I find the quarterly percent change for national total non-farm employment Using the seasonally adjusted data

In [ ]:
df_adj = df_adj[df_adj['Category']=='Total Nonfarm']

In [113]:
new_adj = df_adj.resample('Q').sum()
new_adj.reset_index(inplace=True); new_adj

In [ ]:
by_date = df_adj.loc['2006-03-31']; by_date

In [93]:
s = by_date['Value'].sum(); s

136907.0

In [ ]:
by_date2 = df_adj.loc['2006-06-30']; by_date2

In [95]:
s2 = by_date2['Value'].sum(); s2

137364.60000000003

In [96]:
(137364.60000000003 - 136907.0) /136907.0

0.0033424149239997584

In [97]:
byDate = by_date.reset_index()

In [126]:
def getvalues():
    return [df_adj.loc[i] for i in new_adj['Date']]

In [ ]:
data = getvalues(); data

In [128]:
df = pd.concat(data)

In [130]:
df.reset_index(inplace=True)

In [140]:
final = df.groupby('Date').sum()

In [141]:
final = final.pct_change()

In [ ]:
final.reset_index(inplace=True); final

In [145]:
from datetime import datetime
Date = final['Date']
Date = Date.astype(str); Date

In [148]:
final['Date'] = Date

In [149]:
final = final[1:]

In [150]:
quarterly_nonfarm = list(zip(final['Date'], final['Value']*100))

### Getting the 3rd largest industry in each state in December 2015 where the employment in the 3rd largest industry is a percentage of the state's total industry employment in December 2015.

In [182]:
## Checkiing with one state first
specific_state = dec15.groupby(['State'])
Alabama = specific_state.get_group('Alabama')

In [183]:
## Alabama's top employed industries

Top_industries_Al = Alabama.groupby('Category').max()
Top_industries_Al = Top_industries_Al.sort_values('Value', ascending=False)

In [185]:
Top_industries_Al.reset_index(inplace=True)

In [186]:
# Third best industry in Alabama
third_best_al = Top_industries_Al.loc[2]
third_best_al

Category    Goods Producing
Value                 354.4
State               Alabama
Adjusted              False
Name: 2, dtype: object

In [199]:
def myfunc(x):
    top_industries = x.groupby('Category').max().sort_values('Value', ascending=False)
    top_industries.reset_index(inplace=True)
    return top_industries.loc[2]

In [210]:
myfunc(dec15)

Category    Goods Producing
Value                2085.8
State               Wyoming
Adjusted              False
Name: 2, dtype: object

In [205]:
df = dec15.groupby('State').apply(myfunc).drop(columns='State')

In [212]:
df.columns = df.columns.map(''.join)

In [215]:
df.reset_index(inplace=True)

In [ ]:
# total employment across states
total_employed = dec15.groupby('State').sum()
total_employed.reset_index(inplace=True)
total_employed

In [218]:
df['Value'] = (df['Value']/total_employed['Value'])*100

In [219]:
df

2                  State         Category      Value  Adjusted
0                Alabama  Goods Producing  11.779174     False
1                 Alaska  Goods Producing   8.361921     False
2                Arizona  Goods Producing   8.240148     False
3               Arkansas  Goods Producing  11.825392     False
4             California  Goods Producing   9.125592     False
5               Colorado  Goods Producing   8.966233     False
6            Connecticut  Goods Producing   9.122689     False
7               Delaware  Goods Producing   7.931386     False
8   District of Columbia  Goods Producing   1.647766     False
9                Florida  Goods Producing   7.388216     False
10               Georgia  Goods Producing   9.212385     False
11                Hawaii  Goods Producing   6.159170     False
12                 Idaho  Goods Producing  10.835563     False
13              Illinois  Goods Producing   9.328904     False
14               Indiana    Manufacturing  10.856798     False
15                  Iowa       Government  11.187798     False
16                Kansas  Goods Producing  11.092557     False
17              Kentucky       Government  11.160049     False
18             Louisiana  Goods Producing  11.696728     False
19                 Maine  Goods Producing   9.660450     False
20              Maryland  Goods Producing   7.452157     False
21         Massachusetts  Goods Producing   8.279702     False
22              Michigan       Government   9.527818     False
23             Minnesota       Government  10.370406     False
24           Mississippi  Goods Producing  11.279277     False
25              Missouri  Goods Producing   9.589451     False
26               Montana  Goods Producing   8.298106     False
27              Nebraska  Goods Producing  10.004748     False
28                Nevada  Goods Producing   8.017315     False
29         New Hampshire  Goods Producing  10.138199     False
30            New Jersey  Goods Producing   7.139655     False
31            New Mexico  Goods Producing   8.444524     False
32              New York  Goods Producing   6.530260     False
33        North Carolina  Goods Producing  10.689688     False
34          North Dakota  Goods Producing  11.456103     False
35                  Ohio       Government   9.820704     False
36              Oklahoma  Goods Producing  10.643853     False
37                Oregon  Goods Producing  10.467304     False
38          Pennsylvania       Government   8.727153     False
39           Puerto Rico  Goods Producing   7.834066     False
40          Rhode Island  Goods Producing   9.024723     False
41        South Carolina  Goods Producing  11.308287     False
42          South Dakota  Goods Producing  11.039182     False
43             Tennessee       Government  10.142002     False
44                 Texas  Goods Producing  10.469114     False
45                  Utah  Goods Producing  11.021134     False
46               Vermont  Goods Producing  10.476830     False
47        Virgin Islands  Goods Producing   4.054054     False
48              Virginia  Goods Producing   8.173850     False
49            Washington  Goods Producing  10.386750     False
50         West Virginia  Goods Producing   9.778332     False
51             Wisconsin    Manufacturing  10.683068     False
52               Wyoming  Goods Producing  12.386284     False