# Quandl API Project

In [ ]:
import pandas as pd
import quandl

#### Daily change

Getting the daily percentage change in the closing price for the first 100 trading days of 2016 for Tableau Software

In [ ]:
%%bash
wget https://s3.amazonaws.com/dataincubator-course/quandl-codes/WIKI_codes.zip -nc
unzip -u WIKI_codes.zip

In [44]:
wiki_codes = pd.read_csv('WIKI-datasets-codes.csv', header=None,
                    names=('Code', 'Description'))
wiki_codes

         Code                                        Description
0   WIKI/AAPL  Apple Inc (AAPL) Prices, Dividends, Splits and...
1    WIKI/ABC  AmerisourceBergen Corp. (ABC) Prices, Dividend...
2     WIKI/AA  Alcoa Inc. (AA) Prices, Dividends, Splits and ...
3   WIKI/ABBV  AbbVie Inc. (ABBV) Prices, Dividends, Splits a...
4    WIKI/ACE  ACE Ltd (ACE) Prices, Dividends, Splits and Tr...
..        ...                                                ...
95   WIKI/CMG  Chipotle Mexican Grill (CMG) Prices, Dividends...
96   WIKI/CMS  CMS Energy Corp (CMS) Prices, Dividends, Split...
97   WIKI/CLF  Cliffs Natural Resources Inc. (CLF) Prices, Di...
98   WIKI/CLX  Clorox Co. (CLX) Prices, Dividends, Splits and...
99   WIKI/COF  Capital One Financial Corp (COF) Prices, Divid...

[100 rows x 2 columns]

In [161]:
prices = quandl.get('WIKI/DATA', start_date='2015-12-31') 
# Finding the Quandl code in `wiki_codes` for Tableau Softwareto to get only the data since 2016.

In [163]:
print(type(prices.index))
prices.head()

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2015-12-31,94.47,95.690,93.9100,94.22,478491.0,0.0,1.0,94.47,95.690,93.9100,94.22,478491.0
2016-01-04,92.71,93.903,91.5100,93.79,670113.0,0.0,1.0,92.71,93.903,91.5100,93.79,670113.0
2016-01-05,94.22,94.630,93.2901,94.30,518028.0,0.0,1.0,94.22,94.630,93.2901,94.30,518028.0
2016-01-06,92.86,94.720,92.0100,93.50,853171.0,0.0,1.0,92.86,94.720,92.0100,93.50,853171.0
2016-01-07,91.28,93.140,88.0000,88.57,1249746.0,0.0,1.0,91.28,93.140,88.0000,88.57,1249746.0

### The only column I need is the "Adj. Close" column. It is adjusted for corporate actions like dividends and splits.  First I get the daily fractional change and then adjust it to be a percentage.

In [164]:
close_change = prices['Adj. Close'].pct_change()*100
close_change

Date
2015-12-31         NaN
2016-01-04   -0.456379
2016-01-05    0.543768
2016-01-06   -0.848356
2016-01-07   -5.272727
                ...
2018-03-21    0.610121
2018-03-22   -1.545779
2018-03-23   -1.678744
2018-03-26    3.476231
2018-03-27   -3.252612
Name: Adj. Close, Length: 562, dtype: float64

In [165]:
# formatting the date

In [171]:
date = prices.index
date_str = date.strftime("%-m/%d/%y")
date_str

Index(['12/31/15', '1/04/16', '1/05/16', '1/06/16', '1/07/16', '1/08/16',
       '1/11/16', '1/12/16', '1/13/16', '1/14/16',
       ...
       '3/14/18', '3/15/18', '3/16/18', '3/19/18', '3/20/18', '3/21/18',
       '3/22/18', '3/23/18', '3/26/18', '3/27/18'],
      dtype='object', name='Date', length=562)

In [ ]:
wiki_data_tuples = list(zip(date_str, close_change))

In [173]:
wiki_data_tuples_all = list(zip(date_str, close_change)) # first 100 days of 2016
wiki_data_tuples = wiki_data_tuples_all[1:101] 
wiki_data_tuples

[('1/04/16', -0.4563786881765952),
 ('1/05/16', 0.5437679923232741),
 ('1/06/16', -0.8483563096500446),
 ('1/07/16', -5.272727272727284),
 ('1/08/16', -2.4161680027097066),
 ('1/11/16', 0.809903968529424),
 ('1/12/16', 1.5608860323654383),
 ('1/13/16', -7.16465137303649),
 ('1/14/16', 0.7060255629945278),
 ('1/15/16', -2.018614770941618),
 ('1/19/16', -0.2097211941771593),
 ('1/20/16', -1.829645197181362),
 ('1/21/16', 1.674852033748886),
 ('1/22/16', 0.7431260837255538),
 ('1/25/16', -4.413572657978859),
 ('1/26/16', 0.3086816720257124),
 ('1/27/16', -5.6673932555455835),
 ('1/28/16', 5.817588691042541),
 ('1/29/16', 3.070006422607574),
 ('2/01/16', 0.8225324027916425),
 ('2/02/16', -2.5587144622991387),
 ('2/03/16', 0.9894710135735174),
 ('2/04/16', 2.6881045094837352),
 ('2/05/16', -49.4434250764526),
 ('2/08/16', -9.94435035083474),
 ('2/09/16', 5.4003224073079),
 ('2/10/16', 1.6059138414478813),
 ('2/11/16', 0.30105368790767084),
 ('2/12/16', 0.6753376688344304),
 ('2/16/16', -0.19875776397515477),
 ('2/17/16', 4.7796863330843875),
 ('2/18/16', -2.375861249703015),
 ('2/19/16', 3.16378680944267),
 ('2/22/16', 0.6369426751592355),
 ('2/23/16', -4.266291608063744),
 ('2/24/16', 3.0117531831537647),
 ('2/25/16', 2.3532208224388063),
 ('2/26/16', 3.135160241523449),
 ('2/29/16', 2.7921639270434673),
 ('3/01/16', 6.4622124863088715),
 ('3/02/16', -9.07407407407408),
 ('3/03/16', -2.4213622991627104),
 ('3/04/16', -0.8580705009276324),
 ('3/07/16', 3.6725146198830494),
 ('3/08/16', -1.534296028880866),
 ('3/09/16', -2.1998166819431786),
 ('3/10/16', 0.2811621368322248),
 ('3/11/16', 5.070093457943936),
 ('3/14/16', -2.579497442739598),
 ('3/15/16', -2.8760556950468086),
 ('3/16/16', 2.6321974148061145),
 ('3/17/16', -1.0304556904053186),
 ('3/18/16', 1.8741323461360482),
 ('3/21/16', -0.9311832841244705),
 ('3/22/16', 0.5272810637322323),
 ('3/23/16', -3.7856328392246397),
 ('3/24/16', 1.6828632377340558),
 ('3/28/16', 2.4009324009323985),
 ('3/29/16', 3.9153198269974876),
 ('3/30/16', -0.635268346111717),
 ('3/31/16', 1.1243386243386277),
 ('4/01/16', -0.021800741225197484),
 ('4/04/16', 2.115133013519399),
 ('4/05/16', -3.2884902840059738),
 ('4/06/16', 1.346875689997784),
 ('4/07/16', -1.023965141612193),
 ('4/08/16', 0.41822584195465584),
 ('4/11/16', -1.7755370451556285),
 ('4/12/16', -1.7853157777281914),
 ('4/13/16', 8.793456032719838),
 ('4/14/16', 0.5430242272347563),
 ('4/15/16', 0.06231823847113738),
 ('4/18/16', 1.3493875856342097),
 ('4/19/16', -3.727980335927894),
 ('4/20/16', 1.6382978723404218),
 ('4/21/16', 3.809922545530675),
 ('4/22/16', 0.5242992538818214),
 ('4/25/16', 0.020060180541614514),
 ('4/26/16', -0.7220216606498187),
 ('4/27/16', 0.2626262626262754),
 ('4/28/16', -0.5037275841225042),
 ('4/29/16', 4.69825840421223),
 ('5/02/16', 0.8510638297872353),
 ('5/03/16', -2.7234369006520986),
 ('5/04/16', -1.5181388012618258),
 ('5/05/16', 2.0620620620620533),
 ('5/06/16', -11.318163985876806),
 ('5/09/16', 2.610042026100423),
 ('5/10/16', 3.1472300064669056),
 ('5/11/16', 2.946708463949843),
 ('5/12/16', -2.4157531465692217),
 ('5/13/16', 0.5824838776783858),
 ('5/16/16', 0.12409513960702778),
 ('5/17/16', -2.127659574468077),
 ('5/18/16', 2.3005487547488324),
 ('5/19/16', -0.9696719620383765),
 ('5/20/16', 2.604166666666674),
 ('5/23/16', -0.527918781725889),
 ('5/24/16', -0.2041232904674506),
 ('5/25/16', 0.9408877070975707)]

### I now use data provided by the US [Bureau of Labor Statistics](https://www.quandl.com/data/BLSE?keyword=), which tracks monthly employment numbers by industry for each state.

In [1]:
%%bash
wget https://s3.amazonaws.com/dataincubator-course/BLSE/BLSE_codes.zip -nc
unzip -u BLSE_codes.zip

Archive:  BLSE_codes.zip

File â€˜BLSE_codes.zipâ€™ already there; not retrieving.

In [7]:
blse_codes = pd.read_csv('BLSE-datasets-codes.csv', header=None,
                    names=('Code', 'Description'))
blse_codes.head()

,Code,Description
0,BLSE/SMU24000005051700001,"All Employees, In Thousands; Telecommunication..."
1,BLSE/SMU51000000700000001,"All Employees, In Thousands; Service-Providing..."
2,BLSE/BDU0000000000000000110004RQ5,Employment; Gross Job Losses; All industries; ...
3,BLSE/BDU0000000000000000110005RQ5,Employment; Contractions; All industries; Rate...
4,BLSE/CEU0000000001,"Employment - All employees, thousands; Total n..."

In [ ]:
valid_codes = blse_codes[blse_codes['Description'].str.contains("All Employees")]; valid_rows
# Creating a new data frame that contains only "All Employees".

In [120]:
valid_codes

,Code,Description
0,BLSE/SMU24000005051700001,"All Employees, In Thousands; Telecommunication..."
1,BLSE/SMU51000000700000001,"All Employees, In Thousands; Service-Providing..."
698,BLSE/SMS01000004100000001,"All Employees, In Thousands; Wholesale Trade -..."
699,BLSE/SMS02000004300000001,"All Employees, In Thousands; Transportation an..."
700,BLSE/SMS04000000500000001,"All Employees, In Thousands; Total Private - A..."
...,...,...
1809,BLSE/SMU56000003100000001,"All Employees, In Thousands; Durable Goods - W..."
1810,BLSE/SMU72000000000000001,"All Employees, In Thousands; Total Nonfarm - P..."
1811,BLSE/SMU72000009000000001,"All Employees, In Thousands; Government - Puer..."
1812,BLSE/SMU78000003000000001,"All Employees, In Thousands; Manufacturing - V..."
1813,BLSE/SMS21000003100000001,"All Employees, In Thousands; Durable Goods - K..."

In [10]:
california =  valid_codes[valid_codes['Description'].str.contains("california|California")] # Looking at California only
california_codes = california['Code']; california_codes

706     BLSE/SMS06000000500000001
707     BLSE/SMS06000003000000001
716     BLSE/SMS06000003100000001
717     BLSE/SMS06000001000000001
748     BLSE/SMS06000000000000001
751     BLSE/SMS06000004300000001
752     BLSE/SMS06000000600000001
755     BLSE/SMS06000004100000001
780     BLSE/SMS06000000700000001
783     BLSE/SMS06000009000000001
1187    BLSE/SMU06000000600000001
1193    BLSE/SMU06000005553100001
1208    BLSE/SMU06000001000000001
1213    BLSE/SMU06000004348100001
1252    BLSE/SMU06000000500000001
1257    BLSE/SMU06000004100000001
1259    BLSE/SMU06000004300000001
1261    BLSE/SMU06000003100000001
1263    BLSE/SMU06000005051700001
1288    BLSE/SMU06000000000000001
1290    BLSE/SMU06000003000000001
1293    BLSE/SMU06000000700000001
1296    BLSE/SMU06000004348400001
1297    BLSE/SMU06000009000000001
Name: Code, dtype: object

In [10]:
# Downloading and storing tables corresponding with each Quandl code
code = valid_codes.loc[0, 'Code']
description = valid_codes.loc[0, 'Description']
code, description

('BLSE/SMU24000005051700001',
 'All Employees, In Thousands; Telecommunications - Maryland')

In [121]:
valid_codes = valid_codes.reset_index(drop=True)
valid_codes

,Code,Description
0,BLSE/SMU24000005051700001,"All Employees, In Thousands; Telecommunication..."
1,BLSE/SMU51000000700000001,"All Employees, In Thousands; Service-Providing..."
2,BLSE/SMS01000004100000001,"All Employees, In Thousands; Wholesale Trade -..."
3,BLSE/SMS02000004300000001,"All Employees, In Thousands; Transportation an..."
4,BLSE/SMS04000000500000001,"All Employees, In Thousands; Total Private - A..."
...,...,...
1113,BLSE/SMU56000003100000001,"All Employees, In Thousands; Durable Goods - W..."
1114,BLSE/SMU72000000000000001,"All Employees, In Thousands; Total Nonfarm - P..."
1115,BLSE/SMU72000009000000001,"All Employees, In Thousands; Government - Puer..."
1116,BLSE/SMU78000003000000001,"All Employees, In Thousands; Manufacturing - V..."
1117,BLSE/SMS21000003100000001,"All Employees, In Thousands; Durable Goods - K..."

In [ ]:
df = quandl.get(code, start_date="2006-01-01" ,end_date="2015-12-31")

In [17]:
df['State'] = pd.Series('Maryland', index=df.index)
df

            Value     State
Date
2006-01-31   20.2  Maryland
2006-02-28   20.3  Maryland
2006-03-31   20.4  Maryland
2006-04-30   20.5  Maryland
2006-05-31   20.6  Maryland
...           ...       ...
2015-08-31   14.3  Maryland
2015-09-30   14.2  Maryland
2015-10-31   14.9  Maryland
2015-11-30   14.3  Maryland
2015-12-31   14.2  Maryland

[120 rows x 2 columns]

Now that we have these values, let's add them as new columns.

In [154]:
df['State'] = pd.Series(state, index=df.index)
df['Category'] = pd.Series(category, index=df.index)
df['Adjusted'] = pd.Series(adjusted, index=df.index)
df.head()

            Value     State            Category  Adjusted
Date
2006-01-31   20.2  Maryland  Telecommunications     False
2006-02-28   20.3  Maryland  Telecommunications     False
2006-03-31   20.4  Maryland  Telecommunications     False
2006-04-30   20.5  Maryland  Telecommunications     False
2006-05-31   20.6  Maryland  Telecommunications     False

### Putting the process into a a single function to be able to use it for each `BLSE` data set.

In [109]:
import re
def get_data(code, description):
    
    category = re.findall(";\s(.+)\s-", description)
    state = re.findall("-\s(.+)", description)
    adjusted = True if code[7] == 'S' else False
    df = quandl.get(code, start_date="2006-01-01" ,end_date="2015-12-31") # Download data
    df['State'] = pd.Series(state[0], index=df.index)
    df['Category'] = pd.Series(category[0], index=df.index)
    df['Adjusted'] = pd.Series(adjusted, index=df.index)
    
    return df

get_data(code, description).head()

            Value     State       Category  Adjusted
Date
2006-01-31  168.7  Kentucky  Durable Goods      True
2006-02-28  168.0  Kentucky  Durable Goods      True
2006-03-31  168.4  Kentucky  Durable Goods      True
2006-04-30  168.3  Kentucky  Durable Goods      True
2006-05-31  168.0  Kentucky  Durable Goods      True

In [113]:
get_data( valid_codes.loc[2, 'Code'],  valid_codes.loc[2, 'Description'])

            Value    State         Category  Adjusted
Date
2006-01-31   80.4  Alabama  Wholesale Trade      True
2006-02-28   80.6  Alabama  Wholesale Trade      True
2006-03-31   81.0  Alabama  Wholesale Trade      True
2006-04-30   81.0  Alabama  Wholesale Trade      True
2006-05-31   81.2  Alabama  Wholesale Trade      True
...           ...      ...              ...       ...
2015-08-31   73.7  Alabama  Wholesale Trade      True
2015-09-30   73.6  Alabama  Wholesale Trade      True
2015-10-31   73.7  Alabama  Wholesale Trade      True
2015-11-30   73.6  Alabama  Wholesale Trade      True
2015-12-31   73.4  Alabama  Wholesale Trade      True

[120 rows x 4 columns]

### Getting all data

In [123]:
df_all = pd.concat(get_data(code, description) for code, description
                   in valid_codes.itertuples(index=False))

In [127]:
import pickle
pickle.dump(df_all, open('df_all.data', 'wb'))

In [4]:
import pickle
df_all = pickle.load(open('df_all.data', 'rb'))

In [5]:
df_all =df_all[df_all['Category']!='Total Private']

In [6]:
df_all = df_all[df_all['Category']!='Total Nonfarm']

In [7]:
df_raw = df_all[df_all['Adjusted']==False] # Unadjusted data
df_adj = df_all[df_all['Adjusted']==True] # Adjusted data

### Getting the 100 largest state-industry pairs for December 2015 using the unadjusted data

In [8]:
# Selecting out only the results from 12/2015
dec15 = df_raw.loc['2015-12']

In [6]:
# Sorting them by 'Value' and choose the top 100
top100 = dec15.sort_values('Value', ascending=False).reset_index()
top100 = top100.loc[0:99]
top100

         Date    Value       State           Category  Adjusted
0  2015-12-31  14362.2  California  Service-Providing     False
1  2015-12-31  10239.2       Texas  Service-Providing     False
2  2015-12-31   8665.8    New York  Service-Providing     False
3  2015-12-31   7551.2     Florida  Service-Providing     False
4  2015-12-31   5244.8    Illinois  Service-Providing     False
..        ...      ...         ...                ...       ...
95 2015-12-31    434.5   Minnesota    Goods Producing     False
96 2015-12-31    431.8    Virginia    Goods Producing     False
97 2015-12-31    429.2   Minnesota         Government     False
98 2015-12-31    427.0    Colorado         Government     False
99 2015-12-31    422.7   Wisconsin         Government     False

[100 rows x 5 columns]

In [ ]:
state_category = list(zip(top100['State'], top100['Category']))

In [8]:
employment = list(round(top100['Value']*1000))

In [9]:
state_industry_tuples = list(zip(state_category, employment))
state_industry_tuples

[(('California', 'Service-Providing'), 14362200.0),
 (('Texas', 'Service-Providing'), 10239200.0),
 (('New York', 'Service-Providing'), 8665800.0),
 (('Florida', 'Service-Providing'), 7551200.0),
 (('Illinois', 'Service-Providing'), 5244800.0),
 (('Pennsylvania', 'Service-Providing'), 5085200.0),
 (('Ohio', 'Service-Providing'), 4592600.0),
 (('Georgia', 'Service-Providing'), 3788800.0),
 (('New Jersey', 'Service-Providing'), 3684200.0),
 (('North Carolina', 'Service-Providing'), 3664600.0),
 (('Michigan', 'Service-Providing'), 3559400.0),
 (('Virginia', 'Service-Providing'), 3498600.0),
 (('Massachusetts', 'Service-Providing'), 3165700.0),
 (('Washington', 'Service-Providing'), 2717600.0),
 (('Tennessee', 'Service-Providing'), 2521400.0),
 (('California', 'Government'), 2511200.0),
 (('Missouri', 'Service-Providing'), 2470600.0),
 (('Minnesota', 'Service-Providing'), 2452700.0),
 (('Maryland', 'Service-Providing'), 2440600.0),
 (('Indiana', 'Service-Providing'), 2433900.0),
 (('Arizona', 'Service-Providing'), 2414400.0),
 (('Wisconsin', 'Service-Providing'), 2350500.0),
 (('Colorado', 'Service-Providing'), 2271900.0),
 (('California', 'Goods Producing'), 2085800.0),
 (('Texas', 'Government'), 1933200.0),
 (('Texas', 'Goods Producing'), 1796500.0),
 (('South Carolina', 'Service-Providing'), 1714400.0),
 (('Louisiana', 'Service-Providing'), 1680600.0),
 (('Alabama', 'Service-Providing'), 1645700.0),
 (('Kentucky', 'Service-Providing'), 1592700.0),
 (('Oregon', 'Service-Providing'), 1549300.0),
 (('Connecticut', 'Service-Providing'), 1495900.0),
 (('New York', 'Government'), 1494000.0),
 (('Oklahoma', 'Service-Providing'), 1413800.0),
 (('California', 'Manufacturing'), 1303700.0),
 (('Iowa', 'Service-Providing'), 1280500.0),
 (('Utah', 'Service-Providing'), 1192100.0),
 (('Kansas', 'Service-Providing'), 1186000.0),
 (('Nevada', 'Service-Providing'), 1157300.0),
 (('Florida', 'Government'), 1105400.0),
 (('Arkansas', 'Service-Providing'), 1024000.0),
 (('Mississippi', 'Service-Providing'), 956100.0),
 (('Ohio', 'Goods Producing'), 906100.0),
 (('Nebraska', 'Service-Providing'), 872900.0),
 (('Texas', 'Manufacturing'), 862700.0),
 (('Illinois', 'Government'), 838700.0),
 (('New York', 'Goods Producing'), 833000.0),
 (('Pennsylvania', 'Goods Producing'), 828600.0),
 (('Puerto Rico', 'Service-Providing'), 828600.0),
 (('California', 'Durable Goods'), 825400.0),
 (('Florida', 'Goods Producing'), 811300.0),
 (('Illinois', 'Goods Producing'), 803200.0),
 (('Ohio', 'Government'), 787100.0),
 (('District of Columbia', 'Service-Providing'), 759900.0),
 (('Michigan', 'Goods Producing'), 754700.0),
 (('North Carolina', 'Government'), 740200.0),
 (('New Mexico', 'Service-Providing'), 734600.0),
 (('Virginia', 'Government'), 723500.0),
 (('Pennsylvania', 'Government'), 716700.0),
 (('California', 'Wholesale Trade'), 696400.0),
 (('Ohio', 'Manufacturing'), 691000.0),
 (('Georgia', 'Government'), 684400.0),
 (('North Carolina', 'Goods Producing'), 667400.0),
 (('Indiana', 'Goods Producing'), 657600.0),
 (('West Virginia', 'Service-Providing'), 631900.0),
 (('New Jersey', 'Government'), 615600.0),
 (('Michigan', 'Government'), 611200.0),
 (('Hawaii', 'Service-Providing'), 602300.0),
 (('Michigan', 'Manufacturing'), 600000.0),
 (('California', 'Transportation and Utilities'), 587900.0),
 (('Illinois', 'Manufacturing'), 580600.0),
 (('Wisconsin', 'Goods Producing'), 580000.0),
 (('Idaho', 'Service-Providing'), 575900.0),
 (('New Hampshire', 'Service-Providing'), 574400.0),
 (('Texas', 'Wholesale Trade'), 569100.0),
 (('Georgia', 'Goods Producing'), 567400.0),
 (('Washington', 'Government'), 566700.0),
 (('Pennsylvania', 'Manufacturing'), 564300.0),
 (('Texas', 'Durable Goods'), 558900.0),
 (('Texas', 'Transportation and Utilities'), 533800.0),
 (('Maine', 'Service-Providing'), 532100.0),
 (('Indiana', 'Manufacturing'), 521300.0),
 (('Maryland', 'Government'), 514000.0),
 (('Washington', 'Goods Producing'), 471600.0),
 (('Wisconsin', 'Manufacturing'), 468100.0),
 (('North Carolina', 'Manufacturing'), 467700.0),
 (('Ohio', 'Durable Goods'), 467600.0),
 (('Massachusetts', 'Government'), 465100.0),
 (('New York', 'Manufacturing'), 457400.0),
 (('Tennessee', 'Goods Producing'), 455900.0),
 (('Michigan', 'Durable Goods'), 454300.0),
 (('Indiana', 'Government'), 443500.0),
 (('Missouri', 'Government'), 442300.0),
 (('Rhode Island', 'Service-Providing'), 437700.0),
 (('Tennessee', 'Government'), 437100.0),
 (('Minnesota', 'Goods Producing'), 434500.0),
 (('Virginia', 'Goods Producing'), 431800.0),
 (('Minnesota', 'Government'), 429200.0),
 (('Colorado', 'Government'), 427000.0),
 (('Wisconsin', 'Government'), 422700.0)]

In [ ]:
data = dec15.groupby(['State']).sum() ## what are the total number of employed people in each state in December 2015?
data.reset_index(inplace=True)

### Determining which industry experienced the largest percent growth from December 2006 to December 2015

In [10]:
dec06 = df_raw.loc['2006-12']
dec06

             Value           State            Category  Adjusted
Date
2006-12-31    21.5        Maryland  Telecommunications     False
2006-12-31  3239.3        Virginia   Service-Providing     False
2006-12-31    82.2         Alabama     Wholesale Trade     False
2006-12-31   427.4         Arizona     Goods Producing     False
2006-12-31   188.0         Alabama       Durable Goods     False
...            ...             ...                 ...       ...
2006-12-31    12.5  Virgin Islands          Government     False
2006-12-31   219.5         Wyoming   Service-Providing     False
2006-12-31     5.5         Wyoming       Durable Goods     False
2006-12-31   296.9     Puerto Rico          Government     False
2006-12-31     2.3  Virgin Islands       Manufacturing     False

[518 rows x 4 columns]

In [11]:
dec06.reset_index(inplace=True);dec06

          Date   Value           State            Category  Adjusted
0   2006-12-31    21.5        Maryland  Telecommunications     False
1   2006-12-31  3239.3        Virginia   Service-Providing     False
2   2006-12-31    82.2         Alabama     Wholesale Trade     False
3   2006-12-31   427.4         Arizona     Goods Producing     False
4   2006-12-31   188.0         Alabama       Durable Goods     False
..         ...     ...             ...                 ...       ...
513 2006-12-31    12.5  Virgin Islands          Government     False
514 2006-12-31   219.5         Wyoming   Service-Providing     False
515 2006-12-31     5.5         Wyoming       Durable Goods     False
516 2006-12-31   296.9     Puerto Rico          Government     False
517 2006-12-31     2.3  Virgin Islands       Manufacturing     False

[518 rows x 5 columns]

In [11]:
val06 = dec06.set_index(['State', 'Category'])
val15 = dec15.set_index(['State', 'Category'])
val06.drop(columns=['Adjusted'], inplace=True)
val06

                                    Value
State          Category
Maryland       Telecommunications    21.5
Virginia       Service-Providing   3239.3
Alabama        Wholesale Trade       82.2
Arizona        Goods Producing      427.4
Alabama        Durable Goods        188.0
...                                   ...
Virgin Islands Government            12.5
Wyoming        Service-Providing    219.5
               Durable Goods          5.5
Puerto Rico    Government           296.9
Virgin Islands Manufacturing          2.3

[518 rows x 1 columns]

In [12]:
val06['growth'] = ((val15['Value']-val06['Value'])/val06['Value'])*100
val06

                                    Value     growth
State          Category
Maryland       Telecommunications    21.5 -33.953488
Virginia       Service-Providing   3239.3   8.004816
Alabama        Wholesale Trade       82.2 -10.218978
Arizona        Goods Producing      427.4 -28.965840
Alabama        Durable Goods        188.0  -9.574468
...                                   ...        ...
Virgin Islands Government            12.5 -14.400000
Wyoming        Service-Providing    219.5   8.610478
               Durable Goods          5.5 -18.181818
Puerto Rico    Government           296.9 -22.027619
Virgin Islands Manufacturing          2.3 -73.913043

[518 rows x 2 columns]

In [ ]:
# I need to group the rows by state. We can only group by columns,
# so I first change the indices back to columns
val06.reset_index(inplace=True)
val06.drop(columns=['Date','Value'], inplace=True)

In [20]:
val06

              State            Category     growth
0          Maryland  Telecommunications -33.953488
1          Virginia   Service-Providing   8.004816
2           Alabama     Wholesale Trade -10.218978
3           Arizona     Goods Producing -28.965840
4           Alabama       Durable Goods  -9.574468
..              ...                 ...        ...
513  Virgin Islands          Government -14.400000
514         Wyoming   Service-Providing   8.610478
515         Wyoming       Durable Goods -18.181818
516     Puerto Rico          Government -22.027619
517  Virgin Islands       Manufacturing -73.913043

[518 rows x 3 columns]

### I write a function that takes the dataframe and returns the row with the maximum value and use it inside groupby function.

In [ ]:
def largest_value(df):
    return df[df['growth'] == df['growth'].max()]

In [16]:
fastest_by_state = val06.groupby('State').apply(largest_value)
fastest_by_state

,,State,Category,Value,growth
State,,,,,
Alabama,27,Alabama,Transportation and Utilities,72.1,4.022191
Alaska,53,Alaska,Mining and Logging,12.4,31.451613
Arizona,39,Arizona,Transportation and Utilities,87.5,17.142857
Arkansas,8,Arkansas,Service-Providing,947.2,8.108108
California,58,California,Transportation and Utilities,512.2,14.779383
Colorado,66,Colorado,Mining and Logging,23.3,16.309013
Connecticut,106,Connecticut,Transportation and Utilities,51.0,7.647059
Delaware,52,Delaware,Transportation and Utilities,14.3,29.370629
District of Columbia,97,District of Columbia,Goods Producing,13.8,23.188406
Florida,76,Florida,Air Transportation,30.3,25.742574
Georgia,123,Georgia,Transportation and Utilities,182.4,13.212719
Hawaii,148,Hawaii,Service-Providing,577.7,4.258266
Idaho,105,Idaho,Transportation and Utilities,21.7,12.442396
Illinois,147,Illinois,Transportation and Utilities,270.5,10.425139
Indiana,129,Indiana,Transportation and Utilities,135.2,15.162722
Iowa,170,Iowa,Transportation and Utilities,63.3,8.214850
Kansas,179,Kansas,Transportation and Utilities,55.2,6.702899
Kentucky,192,Kentucky,Transportation and Utilities,97.4,11.601643
Louisiana,136,Louisiana,Service-Providing,1564.9,7.393444
Maine,207,Maine,Service-Providing,528.0,0.776515
Maryland,188,Maryland,Transportation and Utilities,84.2,16.389549
Massachusetts,183,Massachusetts,Transportation and Utilities,86.4,12.037037
Michigan,197,Michigan,Truck Transportation,40.3,16.129032
Minnesota,248,Minnesota,Mining and Logging,5.8,10.344828
Mississippi,264,Mississippi,Transportation and Utilities,49.2,13.821138
Missouri,271,Missouri,Service-Providing,2362.8,4.562384
Montana,231,Montana,Transportation and Utilities,16.3,17.177914
Nebraska,235,Nebraska,Service-Providing,808.7,7.938667
Nevada,326,Nevada,Air Transportation,5.2,26.923077
New Hampshire,274,New Hampshire,Service-Providing,545.5,5.297892
New Jersey,284,New Jersey,Transportation and Utilities,182.2,3.677278
New Mexico,325,New Mexico,Mining and Logging,19.2,19.270833
New York,282,New York,Service-Providing,7893.9,9.778437
North Carolina,312,North Carolina,Air Transportation,11.2,26.785714
North Dakota,356,North Dakota,Mining and Logging,5.0,272.000000
Ohio,365,Ohio,Mining and Logging,11.6,8.620690
Oklahoma,346,Oklahoma,Transportation and Utilities,51.7,18.955513
Oregon,392,Oregon,Service-Providing,1420.7,9.051876
Pennsylvania,348,Pennsylvania,Mining and Logging,20.4,44.607843
Puerto Rico,508,Puerto Rico,Service-Providing,889.1,-6.804634
Rhode Island,381,Rhode Island,Transportation and Utilities,11.4,8.771930
South Carolina,427,South Carolina,Transportation and Utilities,66.9,12.107623
South Dakota,429,South Dakota,Wholesale Trade,18.0,16.666667
Tennessee,444,Tennessee,Transportation and Utilities,150.7,11.081619
Texas,391,Texas,Mining and Logging,198.2,23.864783
Utah,425,Utah,Telecommunications,6.1,19.672131
Vermont,412,Vermont,Service-Providing,261.1,4.366143
Virgin Islands,474,Virgin Islands,Service-Providing,40.2,-9.950249
Virginia,445,Virginia,Transportation and Utilities,123.3,9.732360
Washington,503,Washington,Air Transportation,11.1,15.315315
West Virginia,469,West Virginia,Government,148.4,6.603774
Wisconsin,499,Wisconsin,Mining and Logging,3.7,5.405405
Wyoming,507,Wyoming,Transportation and Utilities,13.9,10.791367

### Next I find the maximum _total national_ employment number for each industry. That is, the number of people employed nationally in each industry during the month that that industry peaked in our data set.

In [28]:
df_raw.reset_index(inplace=True)

In [ ]:
df_raw['Value'] = df_raw['Value']*1000

In [13]:
## looking at one industry
air_transp = df_raw[df_raw['Category'] == 'Air Transportation'];air_transp

              Value       State            Category  Adjusted
Date
2006-01-31  14800.0     Arizona  Air Transportation     False
2006-02-28  14800.0     Arizona  Air Transportation     False
2006-03-31  14900.0     Arizona  Air Transportation     False
2006-04-30  15700.0     Arizona  Air Transportation     False
2006-05-31  15700.0     Arizona  Air Transportation     False
...             ...         ...                 ...       ...
2015-08-31  12600.0  Washington  Air Transportation     False
2015-09-30  12600.0  Washington  Air Transportation     False
2015-10-31  12900.0  Washington  Air Transportation     False
2015-11-30  12800.0  Washington  Air Transportation     False
2015-12-31  12800.0  Washington  Air Transportation     False

[2400 rows x 4 columns]

In [27]:
final = air_transp.groupby('Date').sum().sort_values('Value', ascending=False);final[0:1]

               Value  Adjusted
Date
2008-03-31  402800.0         0

In [30]:
def max_emp(x):
    final = x.groupby('Date').sum().sort_values('Value', ascending=False)
    return final[0:1]

In [37]:
finaldata = df_raw.groupby('Category'). apply(max_emp); finaldata.reset_index(inplace=True)

### Now I find the quarterly percent change for national total non-farm employment Using the seasonally adjusted data

In [55]:
df_adj = df_adj[df_adj['Category']=='Total Nonfarm']
df_adj

            Value                 State       Category  Adjusted
Date
2006-01-31  685.2  District of Columbia  Total Nonfarm      True
2006-02-28  686.1  District of Columbia  Total Nonfarm      True
2006-03-31  687.5  District of Columbia  Total Nonfarm      True
2006-04-30  686.3  District of Columbia  Total Nonfarm      True
2006-05-31  685.5  District of Columbia  Total Nonfarm      True
...           ...                   ...            ...       ...
2015-08-31   37.5        Virgin Islands  Total Nonfarm      True
2015-09-30   37.7        Virgin Islands  Total Nonfarm      True
2015-10-31   37.9        Virgin Islands  Total Nonfarm      True
2015-11-30   38.1        Virgin Islands  Total Nonfarm      True
2015-12-31   38.1        Virgin Islands  Total Nonfarm      True

[6360 rows x 4 columns]

In [113]:
new_adj = df_adj.resample('Q').sum()
new_adj.reset_index(inplace=True); new_adj

In [ ]:
by_date = df_adj.loc['2006-03-31']; by_date

In [93]:
s = by_date['Value'].sum(); s

136907.0

In [94]:
by_date2 = df_adj.loc['2006-06-30']; by_date2

              Value                 State       Category  Adjusted
Date
2006-06-30    688.3  District of Columbia  Total Nonfarm      True
2006-06-30    318.3                Alaska  Total Nonfarm      True
2006-06-30   2646.0               Arizona  Total Nonfarm      True
2006-06-30   1201.4              Arkansas  Total Nonfarm      True
2006-06-30   1997.9               Alabama  Total Nonfarm      True
2006-06-30  15342.9            California  Total Nonfarm      True
2006-06-30   2280.4              Colorado  Total Nonfarm      True
2006-06-30    438.0              Delaware  Total Nonfarm      True
2006-06-30   4111.0               Georgia  Total Nonfarm      True
2006-06-30   7993.7               Florida  Total Nonfarm      True
2006-06-30   1696.4           Connecticut  Total Nonfarm      True
2006-06-30    618.7                Hawaii  Total Nonfarm      True
2006-06-30    638.5                 Idaho  Total Nonfarm      True
2006-06-30   1358.2                Kansas  Total Nonfarm      True
2006-06-30   5938.3              Illinois  Total Nonfarm      True
2006-06-30   2983.8               Indiana  Total Nonfarm      True
2006-06-30    614.7                 Maine  Total Nonfarm      True
2006-06-30   3266.8         Massachusetts  Total Nonfarm      True
2006-06-30   1507.1                  Iowa  Total Nonfarm      True
2006-06-30   1144.5           Mississippi  Total Nonfarm      True
2006-06-30   1835.0              Kentucky  Total Nonfarm      True
2006-06-30    437.2               Montana  Total Nonfarm      True
2006-06-30   4341.5              Michigan  Total Nonfarm      True
2006-06-30   1855.0             Louisiana  Total Nonfarm      True
2006-06-30   2590.9              Maryland  Total Nonfarm      True
2006-06-30   2759.2             Minnesota  Total Nonfarm      True
2006-06-30   2783.1              Missouri  Total Nonfarm      True
2006-06-30    352.3          North Dakota  Total Nonfarm      True
2006-06-30    640.4         New Hampshire  Total Nonfarm      True
2006-06-30   1566.0              Oklahoma  Total Nonfarm      True
2006-06-30   4065.2            New Jersey  Total Nonfarm      True
2006-06-30    946.1              Nebraska  Total Nonfarm      True
2006-06-30    833.8            New Mexico  Total Nonfarm      True
2006-06-30   1283.4                Nevada  Total Nonfarm      True
2006-06-30   1707.1                Oregon  Total Nonfarm      True
2006-06-30   8601.1              New York  Total Nonfarm      True
2006-06-30   5755.5          Pennsylvania  Total Nonfarm      True
2006-06-30   5438.7                  Ohio  Total Nonfarm      True
2006-06-30    397.7          South Dakota  Total Nonfarm      True
2006-06-30   4025.1        North Carolina  Total Nonfarm      True
2006-06-30   3736.1              Virginia  Total Nonfarm      True
2006-06-30    496.2          Rhode Island  Total Nonfarm      True
2006-06-30   2897.3            Washington  Total Nonfarm      True
2006-06-30   1888.2        South Carolina  Total Nonfarm      True
2006-06-30   2792.2             Tennessee  Total Nonfarm      True
2006-06-30  10087.1                 Texas  Total Nonfarm      True
2006-06-30   1204.2                  Utah  Total Nonfarm      True
2006-06-30    307.9               Vermont  Total Nonfarm      True
2006-06-30   2863.0             Wisconsin  Total Nonfarm      True
2006-06-30    277.9               Wyoming  Total Nonfarm      True
2006-06-30   1044.6           Puerto Rico  Total Nonfarm      True
2006-06-30    725.0         West Virginia  Total Nonfarm      True
2006-06-30     45.7        Virgin Islands  Total Nonfarm      True

In [95]:
s2 = by_date2['Value'].sum(); s2

137364.60000000003

In [96]:
(137364.60000000003 - 136907.0) /136907.0

0.0033424149239997584

In [97]:
byDate = by_date.reset_index()

In [126]:
def getvalues():
    return [df_adj.loc[i] for i in new_adj['Date']]

In [127]:
data = getvalues(); data

[              Value                 State       Category  Adjusted
 Date
 2006-03-31    687.5  District of Columbia  Total Nonfarm      True
 2006-03-31    314.3                Alaska  Total Nonfarm      True
 2006-03-31   2621.5               Arizona  Total Nonfarm      True
 2006-03-31   1197.0              Arkansas  Total Nonfarm      True
 2006-03-31   1994.1               Alabama  Total Nonfarm      True
 2006-03-31  15259.3            California  Total Nonfarm      True
 2006-03-31   2267.1              Colorado  Total Nonfarm      True
 2006-03-31    437.9              Delaware  Total Nonfarm      True
 2006-03-31   4092.7               Georgia  Total Nonfarm      True
 2006-03-31   7952.1               Florida  Total Nonfarm      True
 2006-03-31   1684.0           Connecticut  Total Nonfarm      True
 2006-03-31    614.2                Hawaii  Total Nonfarm      True
 2006-03-31    632.6                 Idaho  Total Nonfarm      True
 2006-03-31   1351.9                Kansas  Total Nonfarm      True
 2006-03-31   5921.3              Illinois  Total Nonfarm      True
 2006-03-31   2986.7               Indiana  Total Nonfarm      True
 2006-03-31    614.9                 Maine  Total Nonfarm      True
 2006-03-31   3259.2         Massachusetts  Total Nonfarm      True
 2006-03-31   1501.8                  Iowa  Total Nonfarm      True
 2006-03-31   1138.0           Mississippi  Total Nonfarm      True
 2006-03-31   1840.6              Kentucky  Total Nonfarm      True
 2006-03-31    431.1               Montana  Total Nonfarm      True
 2006-03-31   4362.4              Michigan  Total Nonfarm      True
 2006-03-31   1839.0             Louisiana  Total Nonfarm      True
 2006-03-31   2590.9              Maryland  Total Nonfarm      True
 2006-03-31   2761.6             Minnesota  Total Nonfarm      True
 2006-03-31   2781.1              Missouri  Total Nonfarm      True
 2006-03-31    351.6          North Dakota  Total Nonfarm      True
 2006-03-31    638.5         New Hampshire  Total Nonfarm      True
 2006-03-31   1561.1              Oklahoma  Total Nonfarm      True
 2006-03-31   4069.4            New Jersey  Total Nonfarm      True
 2006-03-31    943.9              Nebraska  Total Nonfarm      True
 2006-03-31    828.4            New Mexico  Total Nonfarm      True
 2006-03-31   1275.0                Nevada  Total Nonfarm      True
 2006-03-31   1695.1                Oregon  Total Nonfarm      True
 2006-03-31   8579.5              New York  Total Nonfarm      True
 2006-03-31   5748.8          Pennsylvania  Total Nonfarm      True
 2006-03-31   5453.1                  Ohio  Total Nonfarm      True
 2006-03-31    396.4          South Dakota  Total Nonfarm      True
 2006-03-31   3980.3        North Carolina  Total Nonfarm      True
 2006-03-31   3727.0              Virginia  Total Nonfarm      True
 2006-03-31    494.6          Rhode Island  Total Nonfarm      True
 2006-03-31   2875.3            Washington  Total Nonfarm      True
 2006-03-31   1901.0        South Carolina  Total Nonfarm      True
 2006-03-31   2780.7             Tennessee  Total Nonfarm      True
 2006-03-31  10017.9                 Texas  Total Nonfarm      True
 2006-03-31   1188.9                  Utah  Total Nonfarm      True
 2006-03-31    307.8               Vermont  Total Nonfarm      True
 2006-03-31   2855.2             Wisconsin  Total Nonfarm      True
 2006-03-31    274.3               Wyoming  Total Nonfarm      True
 2006-03-31   1057.0           Puerto Rico  Total Nonfarm      True
 2006-03-31    726.3         West Virginia  Total Nonfarm      True
 2006-03-31     45.1        Virgin Islands  Total Nonfarm      True,
               Value                 State       Category  Adjusted
 Date
 2006-06-30    688.3  District of Columbia  Total Nonfarm      True
 2006-06-30    318.3                Alaska  Total Nonfarm      True
 2006-06-30   2646.0               Arizona  Total Nonfarm      True
 2006-06-30   1201.4              Arkansas  Total Nonfarm      True
 2006-06-30   1997.9               Alabama  Total Nonfarm      True
 2006-06-30  15342.9            California  Total Nonfarm      True
 2006-06-30   2280.4              Colorado  Total Nonfarm      True
 2006-06-30    438.0              Delaware  Total Nonfarm      True
 2006-06-30   4111.0               Georgia  Total Nonfarm      True
 2006-06-30   7993.7               Florida  Total Nonfarm      True
 2006-06-30   1696.4           Connecticut  Total Nonfarm      True
 2006-06-30    618.7                Hawaii  Total Nonfarm      True
 2006-06-30    638.5                 Idaho  Total Nonfarm      True
 2006-06-30   1358.2                Kansas  Total Nonfarm      True
 2006-06-30   5938.3              Illinois  Total Nonfarm      True
 2006-06-30   2983.8               Indiana  Total Nonfarm      True
 2006-06-30    614.7                 Maine  Total Nonfarm      True
 2006-06-30   3266.8         Massachusetts  Total Nonfarm      True
 2006-06-30   1507.1                  Iowa  Total Nonfarm      True
 2006-06-30   1144.5           Mississippi  Total Nonfarm      True
 2006-06-30   1835.0              Kentucky  Total Nonfarm      True
 2006-06-30    437.2               Montana  Total Nonfarm      True
 2006-06-30   4341.5              Michigan  Total Nonfarm      True
 2006-06-30   1855.0             Louisiana  Total Nonfarm      True
 2006-06-30   2590.9              Maryland  Total Nonfarm      True
 2006-06-30   2759.2             Minnesota  Total Nonfarm      True
 2006-06-30   2783.1              Missouri  Total Nonfarm      True
 2006-06-30    352.3          North Dakota  Total Nonfarm      True
 2006-06-30    640.4         New Hampshire  Total Nonfarm      True
 2006-06-30   1566.0              Oklahoma  Total Nonfarm      True
 2006-06-30   4065.2            New Jersey  Total Nonfarm      True
 2006-06-30    946.1              Nebraska  Total Nonfarm      True
 2006-06-30    833.8            New Mexico  Total Nonfarm      True
 2006-06-30   1283.4                Nevada  Total Nonfarm      True
 2006-06-30   1707.1                Oregon  Total Nonfarm      True
 2006-06-30   8601.1              New York  Total Nonfarm      True
 2006-06-30   5755.5          Pennsylvania  Total Nonfarm      True
 2006-06-30   5438.7                  Ohio  Total Nonfarm      True
 2006-06-30    397.7          South Dakota  Total Nonfarm      True
 2006-06-30   4025.1        North Carolina  Total Nonfarm      True
 2006-06-30   3736.1              Virginia  Total Nonfarm      True
 2006-06-30    496.2          Rhode Island  Total Nonfarm      True
 2006-06-30   2897.3            Washington  Total Nonfarm      True
 2006-06-30   1888.2        South Carolina  Total Nonfarm      True
 2006-06-30   2792.2             Tennessee  Total Nonfarm      True
 2006-06-30  10087.1                 Texas  Total Nonfarm      True
 2006-06-30   1204.2                  Utah  Total Nonfarm      True
 2006-06-30    307.9               Vermont  Total Nonfarm      True
 2006-06-30   2863.0             Wisconsin  Total Nonfarm      True
 2006-06-30    277.9               Wyoming  Total Nonfarm      True
 2006-06-30   1044.6           Puerto Rico  Total Nonfarm      True
 2006-06-30    725.0         West Virginia  Total Nonfarm      True
 2006-06-30     45.7        Virgin Islands  Total Nonfarm      True,
               Value                 State       Category  Adjusted
 Date
 2006-09-30    688.3  District of Columbia  Total Nonfarm      True
 2006-09-30    315.5                Alaska  Total Nonfarm      True
 2006-09-30   2658.7               Arizona  Total Nonfarm      True
 2006-09-30   1199.8              Arkansas  Total Nonfarm      True
 2006-09-30   2002.4               Alabama  Total Nonfarm      True
 2006-09-30  15385.5            California  Total Nonfarm      True
 2006-09-30   2284.6              Colorado  Total Nonfarm      True
 2006-09-30    437.2              Delaware  Total Nonfarm      True
 2006-09-30   4115.8               Georgia  Total Nonfarm      True
 2006-09-30   8022.7               Florida  Total Nonfarm      True
 2006-09-30   1692.0           Connecticut  Total Nonfarm      True
 2006-09-30    623.4                Hawaii  Total Nonfarm      True
 2006-09-30    643.1                 Idaho  Total Nonfarm      True
 2006-09-30   1362.0                Kansas  Total Nonfarm      True
 2006-09-30   5945.9              Illinois  Total Nonfarm      True
 2006-09-30   2977.1               Indiana  Total Nonfarm      True
 2006-09-30    614.3                 Maine  Total Nonfarm      True
 2006-09-30   3274.2         Massachusetts  Total Nonfarm      True
 2006-09-30   1507.0                  Iowa  Total Nonfarm      True
 2006-09-30   1148.8           Mississippi  Total Nonfarm      True
 2006-09-30   1837.9              Kentucky  Total Nonfarm      True
 2006-09-30    434.1               Montana  Total Nonfarm      True
 2006-09-30   4313.9              Michigan  Total Nonfarm      True
 2006-09-30   1877.1             Louisiana  Total Nonfarm      True
 2006-09-30   2593.2              Maryland  Total Nonfarm      True
 2006-09-30   2756.9             Minnesota  Total Nonfarm      True
 2006-09-30   2787.3              Missouri  Total Nonfarm      True
 2006-09-30    354.0          North Dakota  Total Nonfarm      True
 2006-09-30    641.8         New Hampshire  Total Nonfarm      True
 2006-09-30   1573.4              Oklahoma  Total Nonfarm      True
 2006-09-30   4064.5            New Jersey  Total Nonfarm      True
 2006-09-30    948.6              Nebraska  Total Nonfarm      True
 2006-09-30    835.7            New Mexico  Total Nonfarm      True
 2006-09-30   1285.6                Nevada  Total Nonfarm      True
 2006-09-30   1714.2                Oregon  Total Nonfarm      True
 2006-09-30   8616.4              New York  Total Nonfarm      True
 2006-09-30   5765.3          Pennsylvania  Total Nonfarm      True
 2006-09-30   5428.5                  Ohio  Total Nonfarm      True
 2006-09-30    399.6          South Dakota  Total Nonfarm      True
 2006-09-30   4052.1        North Carolina  Total Nonfarm      True
 2006-09-30   3736.1              Virginia  Total Nonfarm      True
 2006-09-30    497.8          Rhode Island  Total Nonfarm      True
 2006-09-30   2911.0            Washington  Total Nonfarm      True
 2006-09-30   1906.9        South Carolina  Total Nonfarm      True
 2006-09-30   2792.4             Tennessee  Total Nonfarm      True
 2006-09-30  10172.8                 Texas  Total Nonfarm      True
 2006-09-30   1214.3                  Utah  Total Nonfarm      True
 2006-09-30    308.6               Vermont  Total Nonfarm      True
 2006-09-30   2864.7             Wisconsin  Total Nonfarm      True
 2006-09-30    279.8               Wyoming  Total Nonfarm      True
 2006-09-30   1038.7           Puerto Rico  Total Nonfarm      True
 2006-09-30    724.9         West Virginia  Total Nonfarm      True
 2006-09-30     45.9        Virgin Islands  Total Nonfarm      True,
               Value                 State       Category  Adjusted
 Date
 2006-12-31    690.5  District of Columbia  Total Nonfarm      True
 2006-12-31    316.2                Alaska  Total Nonfarm      True
 2006-12-31   2664.2               Arizona  Total Nonfarm      True
 2006-12-31   1199.9              Arkansas  Total Nonfarm      True
 2006-12-31   2005.6               Alabama  Total Nonfarm      True
 2006-12-31  15392.9            California  Total Nonfarm      True
 2006-12-31   2302.9              Colorado  Total Nonfarm      True
 2006-12-31    440.2              Delaware  Total Nonfarm      True
 2006-12-31   4144.6               Georgia  Total Nonfarm      True
 2006-12-31   8031.8               Florida  Total Nonfarm      True
 2006-12-31   1696.6           Connecticut  Total Nonfarm      True
 2006-12-31    623.5                Hawaii  Total Nonfarm      True
 2006-12-31    646.1                 Idaho  Total Nonfarm      True
 2006-12-31   1369.8                Kansas  Total Nonfarm      True
 2006-12-31   5951.2              Illinois  Total Nonfarm      True
 2006-12-31   2989.4               Indiana  Total Nonfarm      True
 2006-12-31    616.7                 Maine  Total Nonfarm      True
 2006-12-31   3286.7         Massachusetts  Total Nonfarm      True
 2006-12-31   1513.7                  Iowa  Total Nonfarm      True
 2006-12-31   1152.0           Mississippi  Total Nonfarm      True
 2006-12-31   1848.1              Kentucky  Total Nonfarm      True
 2006-12-31    437.7               Montana  Total Nonfarm      True
 2006-12-31   4297.8              Michigan  Total Nonfarm      True
 2006-12-31   1889.2             Louisiana  Total Nonfarm      True
 2006-12-31   2603.4              Maryland  Total Nonfarm      True
 2006-12-31   2760.7             Minnesota  Total Nonfarm      True
 2006-12-31   2803.7              Missouri  Total Nonfarm      True
 2006-12-31    356.1          North Dakota  Total Nonfarm      True
 2006-12-31    643.6         New Hampshire  Total Nonfarm      True
 2006-12-31   1577.8              Oklahoma  Total Nonfarm      True
 2006-12-31   4075.7            New Jersey  Total Nonfarm      True
 2006-12-31    951.6              Nebraska  Total Nonfarm      True
 2006-12-31    837.7            New Mexico  Total Nonfarm      True
 2006-12-31   1288.4                Nevada  Total Nonfarm      True
 2006-12-31   1724.3                Oregon  Total Nonfarm      True
 2006-12-31   8666.6              New York  Total Nonfarm      True
 2006-12-31   5781.7          Pennsylvania  Total Nonfarm      True
 2006-12-31   5425.3                  Ohio  Total Nonfarm      True
 2006-12-31    402.3          South Dakota  Total Nonfarm      True
 2006-12-31   4096.7        North Carolina  Total Nonfarm      True
 2006-12-31   3749.3              Virginia  Total Nonfarm      True
 2006-12-31    498.6          Rhode Island  Total Nonfarm      True
 2006-12-31   2923.7            Washington  Total Nonfarm      True
 2006-12-31   1932.7        South Carolina  Total Nonfarm      True
 2006-12-31   2790.5             Tennessee  Total Nonfarm      True
 2006-12-31  10248.9                 Texas  Total Nonfarm      True
 2006-12-31   1227.9                  Utah  Total Nonfarm      True
 2006-12-31    308.2               Vermont  Total Nonfarm      True
 2006-12-31   2865.6             Wisconsin  Total Nonfarm      True
 2006-12-31    283.9               Wyoming  Total Nonfarm      True
 2006-12-31   1022.9           Puerto Rico  Total Nonfarm      True
 2006-12-31    726.8         West Virginia  Total Nonfarm      True
 2006-12-31     46.0        Virgin Islands  Total Nonfarm      True,
               Value                 State       Category  Adjusted
 Date
 2007-03-31    693.8  District of Columbia  Total Nonfarm      True
 2007-03-31    317.9                Alaska  Total Nonfarm      True
 2007-03-31   2680.3               Arizona  Total Nonfarm      True
 2007-03-31   1206.9              Arkansas  Total Nonfarm      True
 2007-03-31   2024.4               Alabama  Total Nonfarm      True
 2007-03-31  15469.2            California  Total Nonfarm      True
 2007-03-31   2319.2              Colorado  Total Nonfarm      True
 2007-03-31    438.3              Delaware  Total Nonfarm      True
 2007-03-31   4167.3               Georgia  Total Nonfarm      True
 2007-03-31   8054.7               Florida  Total Nonfarm      True
 2007-03-31   1696.8           Connecticut  Total Nonfarm      True
 2007-03-31    625.2                Hawaii  Total Nonfarm      True
 2007-03-31    652.9                 Idaho  Total Nonfarm      True
 2007-03-31   1378.9                Kansas  Total Nonfarm      True
 2007-03-31   5976.5              Illinois  Total Nonfarm      True
 2007-03-31   2994.7               Indiana  Total Nonfarm      True
 2007-03-31    618.2                 Maine  Total Nonfarm      True
 2007-03-31   3294.5         Massachusetts  Total Nonfarm      True
 2007-03-31   1513.4                  Iowa  Total Nonfarm      True
 2007-03-31   1149.3           Mississippi  Total Nonfarm      True
 2007-03-31   1855.7              Kentucky  Total Nonfarm      True
 2007-03-31    443.9               Montana  Total Nonfarm      True
 2007-03-31   4291.4              Michigan  Total Nonfarm      True
 2007-03-31   1915.1             Louisiana  Total Nonfarm      True
 2007-03-31   2611.6              Maryland  Total Nonfarm      True
 2007-03-31   2768.3             Minnesota  Total Nonfarm      True
 2007-03-31   2812.7              Missouri  Total Nonfarm      True
 2007-03-31    357.3          North Dakota  Total Nonfarm      True
 2007-03-31    644.9         New Hampshire  Total Nonfarm      True
 2007-03-31   1592.2              Oklahoma  Total Nonfarm      True
 2007-03-31   4066.6            New Jersey  Total Nonfarm      True
 2007-03-31    955.7              Nebraska  Total Nonfarm      True
 2007-03-31    843.6            New Mexico  Total Nonfarm      True
 2007-03-31   1298.0                Nevada  Total Nonfarm      True
 2007-03-31   1735.2                Oregon  Total Nonfarm      True
 2007-03-31   8696.6              New York  Total Nonfarm      True
 2007-03-31   5790.9          Pennsylvania  Total Nonfarm      True
 2007-03-31   5433.3                  Ohio  Total Nonfarm      True
 2007-03-31    404.7          South Dakota  Total Nonfarm      True
 2007-03-31   4125.7        North Carolina  Total Nonfarm      True
 2007-03-31   3768.6              Virginia  Total Nonfarm      True
 2007-03-31    497.0          Rhode Island  Total Nonfarm      True
 2007-03-31   2949.7            Washington  Total Nonfarm      True
 2007-03-31   1944.3        South Carolina  Total Nonfarm      True
 2007-03-31   2799.4             Tennessee  Total Nonfarm      True
 2007-03-31  10345.6                 Texas  Total Nonfarm      True
 2007-03-31   1245.0                  Utah  Total Nonfarm      True
 2007-03-31    308.7               Vermont  Total Nonfarm      True
 2007-03-31   2873.4             Wisconsin  Total Nonfarm      True
 2007-03-31    287.5               Wyoming  Total Nonfarm      True
 2007-03-31   1034.6           Puerto Rico  Total Nonfarm      True
 2007-03-31    724.8         West Virginia  Total Nonfarm      True
 2007-03-31     45.4        Virgin Islands  Total Nonfarm      True,
               Value                 State       Category  Adjusted
 Date
 2007-06-30    690.6  District of Columbia  Total Nonfarm      True
 2007-06-30    318.0                Alaska  Total Nonfarm      True
 2007-06-30   2683.8               Arizona  Total Nonfarm      True
 2007-06-30   1205.3              Arkansas  Total Nonfarm      True
 2007-06-30   2021.0               Alabama  Total Nonfarm      True
 2007-06-30  15462.1            California  Total Nonfarm      True
 2007-06-30   2331.6              Colorado  Total Nonfarm      True
 2007-06-30    440.2              Delaware  Total Nonfarm      True
 2007-06-30   4166.3               Georgia  Total Nonfarm      True
 2007-06-30   8025.4               Florida  Total Nonfarm      True
 2007-06-30   1706.4           Connecticut  Total Nonfarm      True
 2007-06-30    628.5                Hawaii  Total Nonfarm      True
 2007-06-30    657.7                 Idaho  Total Nonfarm      True
 2007-06-30   1387.7                Kansas  Total Nonfarm      True
 2007-06-30   5986.0              Illinois  Total Nonfarm      True
 2007-06-30   2998.2               Indiana  Total Nonfarm      True
 2007-06-30    617.4                 Maine  Total Nonfarm      True
 2007-06-30   3310.3         Massachusetts  Total Nonfarm      True
 2007-06-30   1522.1                  Iowa  Total Nonfarm      True
 2007-06-30   1152.9           Mississippi  Total Nonfarm      True
 2007-06-30   1861.9              Kentucky  Total Nonfarm      True
 2007-06-30    443.5               Montana  Total Nonfarm      True

In [128]:
df = pd.concat(data)

In [130]:
df.reset_index(inplace=True)

In [140]:
final = df.groupby('Date').sum()

In [141]:
final = final.pct_change()

In [142]:
final.reset_index(inplace=True); final

         Date     Value  Adjusted
0  2006-03-31       NaN       NaN
1  2006-06-30  0.003342       0.0
2  2006-09-30  0.002240       0.0
3  2006-12-31  0.003309       0.0
4  2007-03-31  0.004430       0.0
5  2007-06-30  0.001906       0.0
6  2007-09-30 -0.000111       0.0
7  2007-12-31  0.001737       0.0
8  2008-03-31 -0.000628       0.0
9  2008-06-30 -0.002663       0.0
10 2008-09-30 -0.005749       0.0
11 2008-12-31 -0.013488       0.0
12 2009-03-31 -0.019727       0.0
13 2009-06-30 -0.011755       0.0
14 2009-09-30 -0.006974       0.0
15 2009-12-31 -0.002070       0.0
16 2010-03-31  0.000561       0.0
17 2010-06-30  0.006758       0.0
18 2010-09-30 -0.001572       0.0
19 2010-12-31  0.004612       0.0
20 2011-03-31  0.003480       0.0
21 2011-06-30  0.002313       0.0
22 2011-09-30  0.005839       0.0
23 2011-12-31  0.002415       0.0
24 2012-03-31  0.007498       0.0
25 2012-06-30  0.002836       0.0
26 2012-09-30  0.003521       0.0
27 2012-12-31  0.004222       0.0
28 2013-03-31  0.005128       0.0
29 2013-06-30  0.003312       0.0
30 2013-09-30  0.004839       0.0
31 2013-12-31  0.004135       0.0
32 2014-03-31  0.004137       0.0
33 2014-06-30  0.006426       0.0
34 2014-09-30  0.005197       0.0
35 2014-12-31  0.006324       0.0
36 2015-03-31  0.002282       0.0
37 2015-06-30  0.006421       0.0
38 2015-09-30  0.004740       0.0
39 2015-12-31  0.005210       0.0

In [145]:
from datetime import datetime
Date = final['Date']
Date = Date.astype(str); Date

In [148]:
final['Date'] = Date

In [149]:
final = final[1:]

In [150]:
quarterly_nonfarm = list(zip(final['Date'], final['Value']*100))

In [151]:
quarterly_nonfarm

[('2006-06-30', 0.33424149239995593),
 ('2006-09-30', 0.22400239945370437),
 ('2006-12-31', 0.3309307682082707),
 ('2007-03-31', 0.44299522399167124),
 ('2007-06-30', 0.19057256821763957),
 ('2007-09-30', -0.011078801935493487),
 ('2007-12-31', 0.17368305935443473),
 ('2008-03-31', -0.06284556080505821),
 ('2008-06-30', -0.2662734013354595),
 ('2008-09-30', -0.574899007149865),
 ('2008-12-31', -1.348800936985417),
 ('2009-03-31', -1.9726933571566074),
 ('2009-06-30', -1.1755377232566144),
 ('2009-09-30', -0.6974073978574191),
 ('2009-12-31', -0.20704107676633443),
 ('2010-03-31', 0.05609589413257954),
 ('2010-06-30', 0.675832782632102),
 ('2010-09-30', -0.157187789646418),
 ('2010-12-31', 0.4611962796884139),
 ('2011-03-31', 0.3479638735635282),
 ('2011-06-30', 0.23134764342420677),
 ('2011-09-30', 0.5839246756747851),
 ('2011-12-31', 0.24145275948683764),
 ('2012-03-31', 0.7498002076346877),
 ('2012-06-30', 0.28355828957640217),
 ('2012-09-30', 0.35209653787755535),
 ('2012-12-31', 0.42224148942515694),
 ('2013-03-31', 0.5128190081195694),
 ('2013-06-30', 0.3311828584773302),
 ('2013-09-30', 0.48385993956843176),
 ('2013-12-31', 0.4134845775754181),
 ('2014-03-31', 0.41372837099589166),
 ('2014-06-30', 0.6426248904249476),
 ('2014-09-30', 0.5197484434653843),
 ('2014-12-31', 0.6323813903448938),
 ('2015-03-31', 0.2282040776317107),
 ('2015-06-30', 0.6421040411183077),
 ('2015-09-30', 0.47399627094968366),
 ('2015-12-31', 0.5209540131271728)]

### Getting the 3rd largest industry in each state in December 2015 where the employment in the 3rd largest industry is a percentage of the state's total industry employment in December 2015.

In [182]:
## Checkiing with one state first
specific_state = dec15.groupby(['State'])
Alabama = specific_state.get_group('Alabama')

In [183]:
## Alabama's top employed industries

Top_industries_Al = Alabama.groupby('Category').max()
Top_industries_Al = Top_industries_Al.sort_values('Value', ascending=False)

In [185]:
Top_industries_Al.reset_index(inplace=True)

In [186]:
# Third best industry in Alabama
third_best_al = Top_industries_Al.loc[2]
third_best_al

Category    Goods Producing
Value                 354.4
State               Alabama
Adjusted              False
Name: 2, dtype: object

In [199]:
def myfunc(x):
    top_industries = x.groupby('Category').max().sort_values('Value', ascending=False)
    top_industries.reset_index(inplace=True)
    return top_industries.loc[2]

In [210]:
myfunc(dec15)

Category    Goods Producing
Value                2085.8
State               Wyoming
Adjusted              False
Name: 2, dtype: object

In [205]:
df = dec15.groupby('State').apply(myfunc).drop(columns='State')

In [206]:
df

2                            Category   Value  Adjusted
State
Alabama               Goods Producing   354.4     False
Alaska                Goods Producing    39.0     False
Arizona               Goods Producing   303.6     False
Arkansas              Goods Producing   213.2     False
California            Goods Producing  2085.8     False
Colorado              Goods Producing   319.7     False
Connecticut           Goods Producing   216.6     False
Delaware              Goods Producing    46.7     False
District of Columbia  Goods Producing    17.0     False
Florida               Goods Producing   811.3     False
Georgia               Goods Producing   567.4     False
Hawaii                Goods Producing    53.4     False
Idaho                 Goods Producing   105.3     False
Illinois              Goods Producing   803.2     False
Indiana                 Manufacturing   521.3     False
Iowa                       Government   262.6     False
Kansas                Goods Producing   232.5     False
Kentucky                   Government   321.8     False
Louisiana             Goods Producing   324.9     False
Maine                 Goods Producing    80.8     False
Maryland              Goods Producing   268.3     False
Massachusetts         Goods Producing   391.1     False
Michigan                   Government   611.2     False
Minnesota                  Government   429.2     False
Mississippi           Goods Producing   196.0     False
Missouri              Goods Producing   384.7     False
Montana               Goods Producing    53.0     False
Nebraska              Goods Producing   147.5     False
Nevada                Goods Producing   131.5     False
New Hampshire         Goods Producing    93.9     False
New Jersey            Goods Producing   398.2     False
New Mexico            Goods Producing    94.3     False
New York              Goods Producing   833.0     False
North Carolina        Goods Producing   667.4     False
North Dakota          Goods Producing    74.9     False
Ohio                       Government   787.1     False
Oklahoma              Goods Producing   265.0     False
Oregon                Goods Producing   278.2     False
Pennsylvania               Government   716.7     False
Puerto Rico           Goods Producing   103.3     False
Rhode Island          Goods Producing    59.5     False
South Carolina        Goods Producing   332.0     False
South Dakota          Goods Producing    64.8     False
Tennessee                  Government   437.1     False
Texas                 Goods Producing  1796.5     False
Utah                  Goods Producing   223.2     False
Vermont               Goods Producing    46.8     False
Virgin Islands        Goods Producing     2.1     False
Virginia              Goods Producing   431.8     False
Washington            Goods Producing   471.6     False
West Virginia         Goods Producing   101.9     False
Wisconsin               Manufacturing   468.1     False
Wyoming               Goods Producing    53.1     False

In [212]:
df.columns = df.columns.map(''.join)

In [215]:
df.reset_index(inplace=True)

In [ ]:
# total employment across states
total_employed = dec15.groupby('State').sum()
total_employed.reset_index(inplace=True)
total_employed

In [218]:
df['Value'] = (df['Value']/total_employed['Value'])*100

In [219]:
df

2                  State         Category      Value  Adjusted
0                Alabama  Goods Producing  11.779174     False
1                 Alaska  Goods Producing   8.361921     False
2                Arizona  Goods Producing   8.240148     False
3               Arkansas  Goods Producing  11.825392     False
4             California  Goods Producing   9.125592     False
5               Colorado  Goods Producing   8.966233     False
6            Connecticut  Goods Producing   9.122689     False
7               Delaware  Goods Producing   7.931386     False
8   District of Columbia  Goods Producing   1.647766     False
9                Florida  Goods Producing   7.388216     False
10               Georgia  Goods Producing   9.212385     False
11                Hawaii  Goods Producing   6.159170     False
12                 Idaho  Goods Producing  10.835563     False
13              Illinois  Goods Producing   9.328904     False
14               Indiana    Manufacturing  10.856798     False
15                  Iowa       Government  11.187798     False
16                Kansas  Goods Producing  11.092557     False
17              Kentucky       Government  11.160049     False
18             Louisiana  Goods Producing  11.696728     False
19                 Maine  Goods Producing   9.660450     False
20              Maryland  Goods Producing   7.452157     False
21         Massachusetts  Goods Producing   8.279702     False
22              Michigan       Government   9.527818     False
23             Minnesota       Government  10.370406     False
24           Mississippi  Goods Producing  11.279277     False
25              Missouri  Goods Producing   9.589451     False
26               Montana  Goods Producing   8.298106     False
27              Nebraska  Goods Producing  10.004748     False
28                Nevada  Goods Producing   8.017315     False
29         New Hampshire  Goods Producing  10.138199     False
30            New Jersey  Goods Producing   7.139655     False
31            New Mexico  Goods Producing   8.444524     False
32              New York  Goods Producing   6.530260     False
33        North Carolina  Goods Producing  10.689688     False
34          North Dakota  Goods Producing  11.456103     False
35                  Ohio       Government   9.820704     False
36              Oklahoma  Goods Producing  10.643853     False
37                Oregon  Goods Producing  10.467304     False
38          Pennsylvania       Government   8.727153     False
39           Puerto Rico  Goods Producing   7.834066     False
40          Rhode Island  Goods Producing   9.024723     False
41        South Carolina  Goods Producing  11.308287     False
42          South Dakota  Goods Producing  11.039182     False
43             Tennessee       Government  10.142002     False
44                 Texas  Goods Producing  10.469114     False
45                  Utah  Goods Producing  11.021134     False
46               Vermont  Goods Producing  10.476830     False
47        Virgin Islands  Goods Producing   4.054054     False
48              Virginia  Goods Producing   8.173850     False
49            Washington  Goods Producing  10.386750     False
50         West Virginia  Goods Producing   9.778332     False
51             Wisconsin    Manufacturing  10.683068     False
52               Wyoming  Goods Producing  12.386284     False